
<head>
  {%- if page.title %}
    {% assign header = page %}
    {% assign header_title = page.title | append: ' - ' | append: site.title %}
    {% assign header_og_type = 'article' %}
  {% else %}
    {% assign header = site %}
    {% assign header_title = site.title %}
    {% assign header_og_type = 'website' %}
  {% endif -%}

  <meta charset="utf-8" />
  <title>{{ header_title | strip_html }}</title>
  <meta content="{{ header.title | strip_html }}" property="og:site_name" />
  <meta content="{{ header.title | strip_html }}" property="og:title" />
  <meta content="{{ header_og_type }}" property="og:type" />
  <meta content="{{ header.description | escape }}" property="og:description" />
  <meta content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" property="og:url" />

  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
    <meta content="{{ site.url }}{{ site.baseurl }}/about/" property="article:author" />
  {% endif %}

  {% if page.img %}
    <meta content="{{ site.url }}{{ site.baseurl }}/public/{{ page.img }}" property="og:image" />
  {% else %}
    <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.img }}" property="og:image" />
  {% endif %}

  {% if page.tags %}
    <meta content="{{ page.tags[0].name }}" property="article:section" />
    {% for tag in page.tags %}
      <meta content="{{ tag.name }}" property="article:tag" />
    {% endfor %}
  {% endif %}

  {% if site.site-twitter or site.social-twitter %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.site-twitter }}" />
    <meta name="twitter:creator" content="@{{ site.social-twitter }}" />
  {% endif %}

  <meta name="twitter:title" content="{{ header_title | strip_html }}" />
  <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta name="twitter:description" content="{{ header.description | escape }}" />
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}{{ header_image_path }}{{ header.img }}" />
  <meta name="description" content="{{ header.description | escape }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.img }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.img }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.img }}" />
  <meta name="theme-color" content="#263959" />
  <meta name="msapplication-navbutton-color" content="#263959" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#263959" />
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:300,400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ '/assets/fonts/font-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | prepend: site.baseurl }}" />
</head>
