---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/{% if site.img %}{{ site.img }}{% endif %}" alt="{{ site.author }}"></a>
      </div>
      <div class="author-name">{{ site.title }}</div>
      <p>{{ site.about-author }}</p>
    </div>
    <div class="menu">
      <ul>
      {%- assign categories = '' -%}
      {% for post in site.posts -%}
        {%- assign category = post.tags[0] -%}
        {% unless categories contains category.url %}
          <li>
            <a href="{{ site.baseurl }}/tag/{{ category.url }}" title="{{ category.name | capitalize }}">
              {{ category.name | capitalize }}
            </a>
          </li>
          {%- assign categories = categories | append: ';' | append: category.url -%}
        {% endunless %}
      {%- endfor %}
      </ul>
    </div>
  </header>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{ site.social-github }}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://www.linkedin.com/in/{{ site.social-linkedin | url_encode }}/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{ site.social-email }}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section>
    <div class="copyright">
      <p>{{ site.time | date: '%Y' }} &copy; {{ site.author }}</p>
    </div>
  </footer>
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>
